body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
}

.fashion-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.fashion-card {
  background-color: #ffffff;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  text-align: center;
  padding: 10px;
  width: auto;
  /* flex: 0 0 auto; */
}

.fashion-card:hover {
  transform: translateY(-5px);
}

.fashion-card img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  /* border-radius: 8px; */
}

.fashion-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #333;
}

.fashion-card p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}